.App {
    background-color: #eeeeee;
    min-height: 100vh;
}

.App-content {
    width: 100vw;
    min-height: calc(100vh - 52px);
    max-width: 1026px;
    box-sizing: border-box;
    background-color: #f7f7f7;
    padding: 14px 48px 28px 48px;
}

.App-content__head {
    display: block;
    text-align: left;
    color: #176bad;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

@media (max-width: 768px) {
    .App-content {
        padding: 19px 11px 19px 11px;
    }
    .App-content__head {
        font-size: 19px;
        padding-bottom: 15px;
    }
}